<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= current_user.name %>
      </section>
      <section class="micropost_form">
        asdasd
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      asdasdasdasd
    </div>
  </div>
<% else %>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= link_to image_tag("example1.png", alt: "Example1"), '#' %>
    </div>

    <div class="item">
      <%= link_to image_tag("example2.png", alt: "Example2"), '#' %>
    </div>

    <div class="item">
      <%= link_to image_tag("example3.png", alt: "Example3"), '#' %>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="text-center jumbotron">
  <h1>Добро пожаловать!</h1>

  <h2>
    В галлерею исскуств имени<br>
    <a target="_blank" href="https://ru.wikipedia.org/wiki/%D0%98%D1%81%D0%B0%D0%B1%D0%B0%D0%B5%D0%B2,_%D0%98%D1%81%D0%B0%D1%82%D0%B0%D0%B9_%D0%9D%D1%83%D1%80%D1%8B%D1%88%D0%B5%D0%B2%D0%B8%D1%87">Исатая Исабаева</a>
  </h2>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= link_to image_tag("issatay-portrait.png", alt: "Rails logo", class: "col-xs-12 col-md-6"), 'http://rubyonrails.org/' %>
  </div>
</div>

<% end %>