<%= form_for(@press, :html => { multipart: true, :class => "form-horizontal presses_form",:role=> "form"}) do |f| %>
  <% if @press.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@press.errors.count, "error") %> prohibited this press from being saved:</h2>
      <ul>
      <% @press.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :url, :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
      <div class="row">
        <%= f.text_field :url, :class => "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :title, :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
      <div class="row">
        <%= f.text_field :title, :class => "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :title_kz, :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
      <div class="row">
        <%= f.text_field :title_kz, :class => "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :title_ru, :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
      <div class="row">
        <%= f.text_field :title_ru, :class => "form-control" %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :short_body, :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
      <div class="row">
        <%= f.text_area :short_body, :class => "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :short_body_kz, :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
      <div class="row">
        <%= f.text_area :short_body_kz, :class => "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :short_body_ru, :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
      <div class="row">
        <%= f.text_area :short_body_ru, :class => "form-control" %>
      </div>
    </div>
  </div>
  
  
  <div class="form-group">
    <%= f.label :body, :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
      <div class="row">
        <%= f.hidden_field :body, :class => "hidden_body" %>
        <div class="form-control summernote"><%=raw @press.body %></div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :body_kz, :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
      <div class="row">
        <%= f.hidden_field :body_kz, :class => "hidden_body", :value => "" %>
        <% if params[:action] == 'edit' %>
          <div class="form-control summernote"><%=raw @press.body_kz.force_encoding('utf-8') %></div>
        <% elsif params[:action] == 'new' %>
          <div class="form-control summernote"></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :body_ru, :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
      <div class="row">
        <%= f.hidden_field :body_ru, :class => "hidden_body", :value => "" %>
        <% if params[:action] == 'edit' %>
          <div class="form-control summernote"><%=raw @press.body_ru.force_encoding('utf-8') %></div>
        <% elsif params[:action] == 'new' %>
          <div class="form-control summernote"></div>
        <% end %>
      </div>
    </div>
  </div>
  
  <% if controller.action_name == "edit" %>
  <div class="form-group dropzone">
    
    <div class="form-group add_image_btn">
        <a href="#" id="add_image" class="btn btn-warning form-control">Добавить картинку <i class="fa fa-plus"></i></a>
    </div>
    
    <%= f.fields_for :simple_images do |simple_images_form| %>
      <div class="simple_images_form col-xs-6">
        <span class="hidden"><%= simple_images_form.check_box :_destroy, :class => "remove_simage_cbx" %></span>
        <a href="#" class="btn btn-danger remove_simage" title="Удалить картинку">X</a>
        <div class="overlay delete"></div>
        <div class="row simple_image_block">
          <div class="col-xs-4 previews">
            <span class="hidden"><%= simple_images_form.file_field :picture, :class => "simage_input", accept: 'image/jpeg,image/gif,image/png' %></span>
            <% if simple_images_form.object.picture? %>
              <%= image_tag simple_images_form.object.picture.url, :class => "image_preview", :title => "Изменить картинку" %>
            <% elsif %>
              <%= image_tag 'paintbrush', :class => "image_preview", :title => "Изменить картинку" %>
            <% end %>
          </div>
          <div class="col-xs-8 titles">
            <div class="form-group">
              <%= simple_images_form.text_field :title, :class => "form-control", :placeholder => "Title" %>
            </div>
            <div class="form-group">
              <%= simple_images_form.text_field :title_kz, :class => "form-control", :placeholder => "Атау" %>
            </div>
            <div class="form-group">
              <%= simple_images_form.text_field :title_ru, :class => "form-control", :placeholder => "Название" %>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="col-xs-12 descriptions">
            <div class="form-group">
              <%= simple_images_form.text_area :description, :class => "form-control", :placeholder => "Description" %>
            </div>
            <div class="form-group">
              <%= simple_images_form.text_area :description_kz, :class => "form-control", :placeholder => "Сипаттамасы" %>
            </div>
            <div class="form-group">
              <%= simple_images_form.text_area :description_ru, :class => "form-control", :placeholder => "Описание" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
  
  <div class="form-group">
    <%= f.submit 'SUBMIT', :class => "form-control btn btn-success form_submit" %>
  </div>
<% end %>


<script type="text/javascript">
  $(function(){
    
    $('.dropzone').on('change','.simage_input', function() {
      var size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 8) {
        alert('Maximum file size is 8MB. Please choose a smaller file.');
      }
      else{
        if (typeof (FileReader) != "undefined") {
          var image_holder = $(this).parent().parent().find(".image_preview");
          var reader = new FileReader();
          reader.onload = function (e) {
            $(image_holder).attr('src', e.target.result );
          }
          reader.readAsDataURL(this.files[0]);
        }
      }
    });
    
    $("#add_image").click(function(e){
       e.preventDefault();
      $.ajax({
        url: '/<%=I18n.locale%>/presses/add_simple_images',
        success: function(data){
          var item = $(data).html();
          $('.dropzone').append(item);
        },
        error: function(data){
          alert("Sorry, There Was An Error!");
        }
      });
    });
    
    $(".dropzone").on("click",".image_preview", function(){
      $(this).parent().find(".simage_input").click();
    });
    
    $('.form_submit').click(function(e){
        e.preventDefault();
        
        $('.summernote').each(function(){
           $(this).parent().find('.hidden_body').val($(this).summernote('code'));
        });
        
        $(this).closest("form").submit();
    });
    
    $(".dropzone").on("click", ".remove_simage", function(e){
      e.preventDefault();
      $(this).closest(".simple_images_form").find(".remove_simage_cbx").trigger('click');
      $(this).closest(".simple_images_form").find(".overlay").slideToggle();
    });
  });
  
</script>