<%= form_for(@press, :html => {:class => "form-horizontal", :role=> "form"}) do |f| %>
  <% if @press.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@press.errors.count, "error") %> prohibited this press from being saved:</h2>
      <ul>
      <% @press.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="col-xs-2 form-group fileupload_container">
      asd
      <!--<input id="fileupload" class="fileupload" type="file" name="files[]" data-url="server/php/" multiple>-->
      <!--<!%= f.file_field :image, :class => "form-control" %>-->
    </div>
    <div class="col-xs-10 form-horizontal">
      <div class="form-group">
        <%= f.label :title, :class => "control-label col-sm-2" %>
        <div class="col-sm-10">
          <%= f.text_field :title, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :title_kz, :class => "control-label col-sm-2" %>
        <div class="col-sm-10">
        <%= f.text_field :title_kz, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :title_ru, :class => "control-label col-sm-2" %>
        <div class="col-sm-10">
        <%= f.text_field :title_ru, :class => "form-control" %>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="form-group">
    <%= f.label :short_body, :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
    <%= f.text_area :short_body, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :short_body_kz, :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
    <%= f.text_area :short_body_kz, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :short_body_ru, :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
    <%= f.text_area :short_body_ru, :class => "form-control" %>
    </div>
  </div>
  
  
  <div class="form-group">
    <%= f.label :body, :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
    <%= f.hidden_field :body, :class => "hidden_body" %>
    <div class="form-control summernote"><%=raw @press.body %></div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :body_kz, :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
    <%= f.hidden_field :body_kz, :class => "hidden_body", :value => "" %>
    <% if params[:action] == 'edit' %>
      <div class="form-control summernote"><%=raw @press.body_kz.force_encoding('utf-8') %></div>
    <% elsif params[:action] == 'new' %>
      <div class="form-control summernote"></div>
    <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :body_ru, :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
    <%= f.hidden_field :body_ru, :class => "hidden_body", :value => "" %>
    <% if params[:action] == 'edit' %>
      <div class="form-control summernote"><%=raw @press.body_ru.force_encoding('utf-8') %></div>
    <% elsif params[:action] == 'new' %>
      <div class="form-control summernote"></div>
    <% end %>
    </div>
  </div>
  
  <div class="form-group">
    <% f.object.simple_images.each do |image| %>
      <%= f.fields_for photo do |image_form| %>
        <%= image_form.file_field :url, :class => "form-control" %>
      <% end %>
    <% end %>
  </div>
  
  <div class="form-group">
    <%= f.submit 'SUBMIT', :class => "form-control btn btn-success form_submit" %>
  </div>
<% end %>
