<div class="row press_block">
    <div class="col-xs-3 col-sm-1">
      <% if press.simple_images.any? %>
        <%= link_to (image_tag press.simple_images.first.picture.url, :class => "press_picture"), press, :title => "Details..." %>
      <% elsif %>
        <%= link_to (image_tag 'paintbrush', :class => "press_picture"), press, :title => "Details..." %>
      <% end %>
    </div>
    <div class="col-xs-9 col-sm-11">
      <div class="row">
        <%= link_to press.title, press %>
      </div>
      <div class="row">
        <%= press.short_body %>
      </div>
      <div class="row">
        <small>Created on: <%= press.created_at %></small>
      </div>
    </div>
</div>