<p id="notice"><%= notice %></p>
<div class="press_container">
  <% if I18n.locale == :en %>
  <%= render :partial => "show_press", locals: {title: @press.title, body: @press.body.force_encoding("utf-8") } %>

  <% elsif I18n.locale == :kz %>
    <%= render :partial => "show_press", locals: {title: @press.title_kz, body: @press.body_kz.force_encoding("utf-8") } %>
  
  
  <%  elsif I18n.locale == :ru %>
   <%= render :partial => "show_press", locals: {title: @press.title_ru, body: @press.body_ru.force_encoding("utf-8") } %>
  <% end %>
  
  <div class="clearfix"></div>
    <% if @press.simple_images.any? %>
    <div class="row simple_images_container">
      <% @press.simple_images.each do |simage| %>
            <% if I18n.locale == :en %>
              <%= render :partial => "simple_images/simple_image", locals: {id: simage.id, title: simage.title, description: simage.description, url: simage.picture.url } %>
            <% elsif I18n.locale == :kz %>
              <%= render :partial => "simple_images/simple_image", locals: {id: simage.id, title: simage.title_kz.blank? ? simage.title : simage.title_kz, description: simage.description_kz.blank? ? simage.description : simage.description_kz, url: simage.picture.url } %>
            <% elsif I18n.locale == :ru %>
              <%= render :partial => "simple_images/simple_image", locals: {id: simage.id, title: simage.title_ru.blank? ? simage.title : simage.title_ru, description: simage.description_ru.blank? ? simage.description : simage.description_ru, url: simage.picture.url } %>
            <% end %>
      <% end %>
    </div>
    <% end %>
</div>

<div class="clearfix"></div>


<% if logged_in? %>
<%= link_to 'Edit', edit_press_path(@press) %> |
<%= link_to 'Destroy', @press, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', presses_path %>

<%= render :partial => "simple_images/simple_image_modal" %>

<script type="text/javascript">
  $(function(){
    fixRatio();
  });//ready function
</script>