<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @carousel.title %>
</p>


<p>
  <strong>Description:</strong>
  <%= @carousel.description %>
</p>

<p>
  <strong>url:</strong>
  <%= @carousel.url %>
</p>

<p>
  <% if I18n.locale == :en %>
    <%= render :partial => "simple_images/simple_image", locals: {id: @carousel.id, title: @carousel.title, description: @carousel.description, url: @carousel.picture.url } %>
  <% elsif I18n.locale == :kz %>
    <%= render :partial => "simple_images/simple_image", locals: {id: @carousel.id, title: @carousel.title_kz.blank? ? @carousel.title : @carousel.title_kz, description: @carousel.description_kz.blank? ? @carousel.description : @carousel.description_kz, url: @carousel.picture.url } %>
  <% elsif I18n.locale == :ru %>
    <%= render :partial => "simple_images/simple_image", locals: {id: @carousel.id, title: @carousel.title_ru.blank? ? @carousel.title : @carousel.title_ru, description: @carousel.description_ru.blank? ? @carousel.description : @carousel.description_ru, url: @carousel.picture.url } %>
  <% end %>
</p>

<%= link_to 'Edit', edit_carousel_path(@carousel) %> |
<%= link_to 'Back', carousels_path %>
