<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @carousel.title %>
</p>

<p>
  <strong>:</strong>
  <%= @carousel. %>
</p>

<p>
  <strong>Description:</strong>
  <%= @carousel.description %>
</p>

<p>
  <strong>:</strong>
  <%= @carousel. %>
</p>

<%= link_to 'Edit', edit_carousel_path(@carousel) %> |
<%= link_to 'Back', carousels_path %>
